**/bin/
**/obj/
**/.vs/
**/.idea/
**/.vscode/
.git/
.gitignore
README.md
readme.md**/bin/
**/obj/
**/.vs/
**/.idea/
**/.vscode/
.git/
.gitignore
README.md
readme.md
.github/**/bin/
**/obj/
**/.vs/
**/.idea/
**/.vscode/
publish/
!.runtime/docker-server-publish/
!.runtime/docker-server-publish/**
.git/
.gitignore
README.md
readme.md
